
__pycache__/main.cpython-310.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/projeto-ape.iml
.idea/vcs.xml
__pycache__/functions.cpython-310.pyc
__pycache__/functions.cpython-36.pyc
